html {
    --main_background: #32de8aff;
    --accent-color: #a2e8ddff;
    --text_color: #35524aff;
    --slate-gray: #627c85ff;
    --air-superiority-blue: #779cabff;
}

 * {
    box-sizing: border-box;
    color: var(--text_color);
    background-color: var(--main_background);
 }

header {
    text-align: center;
    border-bottom: 1px solid var(--text_color);
    height: 20vh;
    

    & h1 {
        font-weight: bolder;
        font-family: 'Pixelify Sans', cursive;
    }
}

main {
    height: 80vh;

    /* > aside {
        border-right:  1px solid var(--text_color);
    } */

    > aside > h4 {
        max-width: 100%;
        text-decoration: underline;
    }
}

.carousel-item > img {
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}